/********************/
/** Global Styles **/
/******************/

* {
  font-family: 'Cabin', sans-serif;
}

html,
body {
  height: 100%;
  width: 100%;
}

.nounderline {
  text-decoration: none;
}

/********************/
/** Splash Styles **/
/******************/

#main {
  background-color: #3e464c;
  color: #fafafa;
  height: 100vh;
  width: 100%;
  position: relative;
}

#particles-js {
  position: relative;
  z-index: 0;
  height: 100%;
  width: 100%;
}

.head-wrapper {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.foot-wrapper {
  position: absolute;
  top: 97%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.heading {
  font-size: 60px;
}

.icon-wrapper i {
  padding: 5px;
  padding-right: 5px;
  transition: all 0.2s ease-in-out;
}

.icon-wrapper i {
  color: #fafafa;
}

.icon-wrapper i:hover {
  transform: scale(1.2);
}

.foot-wrapper i:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}

/*********************/
/** Skills Section **/
/*******************/

.skills-wrapper {
  position: relative;
  height: 100vh;
  text-align: center;
}

.skills-wrapper h1 {
  color: #3e464c;
  padding-top: 50px;
}

.skills-hr {
  border-top: 3px solid #3e464c;
  margin-top: 40px;
}

.skills-wrapper i {
  color: #3e464c;
  font-size: 50px;
}

.skills-wrapper label {
  margin-top: 10px;
}

.skill-icon {
  padding-top: 18px;
}

.skills-foot-wrapper {
  position: absolute;
  top: 95%;
  left: 50%;
  text-align: center;
}

.skills-down {
  font-size: 32px !important;
}

.skills-foot-wrapper:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}

/***********************/
/** Projects Section **/
/*********************/

.projects-wrapper {
  position: relative;
  height: 100vh;
  text-align: center;
  background-color: #3e464c;
  width: 100%;
}

.projects-wrapper h1 {
  color: #fafafa;
  padding-top: 50px;
}

.projects-hr {
  border-top: 3px solid #fafafa;
  margin-top: 40px;
}

.project-wrapper {
  background-color: #fafafa;
  border-radius: 10px;
  min-height: 300px;
}

.project-wrapper h3 {
  padding-top: 10px;
}

.project-wrapper a:hover {
  text-decoration: none;
}

.project-one {
  background: url('../assets/p1.svg');
  background-size: cover;
  background-position: center top;
}

.project-two {
  background: url('../assets/p2.svg') no-repeat center center;
  background-size: cover;
  background-position: center top;
}

.project-three {
  background: url('../assets/p3.svg') no-repeat center center;
  background-size: cover;
  background-position: center top;
}

.project-four {
  background: url('../assets/p4.svg') no-repeat center center;
  background-size: cover;
  background-position: center top;
}

.projects-foot-wrapper {
  position: absolute;
  top: 92%;
  left: 50%;
  text-align: center;
  color: #fafafa;
}

.projects-foot-wrapper:hover {
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  transform: scale(1.2);
}

.hover-content-one,
.hover-content-two,
.hover-content-three,
.hover-content-four {
  display: none;
  color: #fafafa !important;
  text-align: center;
  border-radius: 10px;
  min-height: inherit;
  background-color: #31383c;
  border: 3px solid #fafafa;
}

.icon-links {
  padding-top: 25px;
}

.icon-links i {
  color: #fafafa;
}

.hover-content-one i {
  text-align: right;
  margin-top: 30px;
  font-size: 40px;
}

.project-icon {
  margin-top: 30px;
  font-size: 40px;
  color: #fafafa;
}

.git-wrap label,
.heroku-wrap label {
  cursor: pointer;
  color: white;
  font-size: 12px;
}

.git-wrap label:hover,
.heroku-wrap label:hover {
  text-decoration: underline;
}

/**********************/
/** Contact Section **/
/********************/

.contact-wrapper {
  margin-top: -1px;
  height: 400px;
  background-color: #31383c;
}

.contact-wrapper h1 {
  color: #fafafa;
  padding-top: 50px;
  text-align: center;
}

.contact-icon-wrapper {
  text-align: center;
  margin-top: 10px;
}

.contact-icon-wrapper i {
  color: #fafafa;
  padding: 5px;
  padding-right: 30px;
  transition: all 0.2s ease-in-out;
}

.contact-icon-wrapper i:hover {
  transform: scale(1.2);
}

/********************/
/** Media Queries **/
/******************/

@media only screen and (max-width: 770px) {
  .skills-wrapper {
    height: 860px;
  }

  .skills-wrapper i {
    font-size: 42px;
  }

  .projects-wrapper {
    height: 1520px;
  }

  .foot-wrapper,
  .projects-foot-wrapper,
  .skills-foot-wrapper {
    display: none;
  }

  .project-two,
  .project-four {
    margin-top: 25px;
  }
}
